{% comment %}
    Renders a set of links for paginated results. Must be used within paginate tags.

    Usage:
    {% paginate results by 2 %}
      {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
    {% endpaginate %}

    Accepts:
    - paginate: {Object}
    - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
{% endcomment %}

{%- if paginate.parts.size > 0 -%}

  <div class="pagi-nav justify-content-center d-flex flex-nowrap mt-5">
    {%- if paginate.previous -%}
    <span class="navi"><a href="{{ paginate.previous.url }}" title=""><i class="fa fa-angle-left"></i></a></span>
    {%- endif -%}

    {%- for part in paginate.parts -%}

        {%- if part.is_link -%}
          <span class="page"><a href="{{ part.url }}" title="">{{ part.title }}</a></span>
        {%- else -%}
          {%- if part.title == paginate.current_page -%}
            <span class="page current"><a href="javascript:void(0)" title="">{{ part.title }}</a></span>
          {%- else -%}
            <span class="page"><a href="javascript:void(0)" title="">{{ part.title }}</a></span>
          {%- endif -%}
        {%- endif -%}

    {%- endfor -%}
    {%- if paginate.next -%}
    <span class="navi"><a href="{{ paginate.next.url }}" title=""><i class="fa fa-angle-right"></i></a></span>
    {%- endif -%}
  </div>

{%- endif -%}
