<section class="has-bg p-0 d-flex main-hero" style="background-image: url(https://www.24k.com.sg/workz/johnny/mist-valley-shop/v2/images/hero-cart.jpg);">
  <div class="caption-holder">
    <h2>{{ 'customer.addresses.title' | t }}</h2>
  </div>
</section>
<!-- end section -->

<section class="subpage logon">
  <figure class="subsection">
    <div class="container">
      <div class="section-body">
        <a href="{{ routes.account_url }}"><span class="material-icons-outlined" style="vertical-align: middle"> chevron_left </span>  {{ 'customer.account.return' | t }}</a>
        <div class="row">
          <div class="col-md-10 mt-4">
            <h2>My Address</h2>
            <div class="list-address">

              {%- for address in customer.addresses -%}
                <div class="item">
                  {%- if address == customer.default_address -%}
                    <div class="address-title">{{ 'customer.addresses.default' | t }}</div>
                  {%- endif -%}

                  <address>
                    {{ address.first_name  }} {{ address.last_name  }}<br/><br/>
                    {{ address.company  }}<br/>
                    {{ address.address1 | t }}, <br/>{{ address.address2  }},<br/>{{ address.zip  }} {{ address.city  }}
                  </address>
                  <div class="address-footer">
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#editAddress">{{ 'customer.addresses.edit' | t }}</a>
                    <!--
                    <a href="javascript:void(0)">Delete</a>
                    -->
                    <button
                            type="button"
                            aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
                            data-target="{{ address.url }}"
                            data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                    >
                      {{ 'customer.addresses.delete' | t }}
                    </button>
                  </div>
                </div>
              {%- endfor -%}
            </div>
            <!--
            <h2 class="mt-5">My Address</h2>
            <p>No addresses were saved yet</p>
            <a href="javascript:void(0)" class="btn btn-site" data-toggle="modal" data-target="#addAddress"> {{ 'customer.addresses.add_new' | t }}</a>
            -->
          </div>
        </div>
      </div>
    </div>
  </figure>
</section>
