{% comment %}theme-check-disable UndefinedObject{% endcomment %}

<!-- end section -->
<section class="mainsec-subscribe pt-0">
  <div class="container">
    <div class="section-body">
      <div class="subscribe-box">
        <div class="img-holder" style="background-image: url(https://www.24k.com.sg/workz/johnny/mist-valley-shop/v2/images/bg-subscribe-box.jpg);"></div>
        <div class="caption-holder">
          <h2 class="mb-2">Subscribe</h2>
          <p>Sign up for our newsletter</p>
          <form action="" class="form-subscribe">
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Email Address" aria-label="Email Address" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-site" type="button" id="button-addon2">SIGNUP</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section -->
<section class="mainsec-testimonials section-dark overflow-hidden" style="background-image: url(https://www.24k.com.sg/workz/johnny/mist-valley-shop/v2/images/bg-testimonials.jpg);">
  <div class="container">
    <div class="section-body">
      <div class="list-testimonials">
        <div class="flex-item">
          <p>At Mist Valley, we are proud to call ourselves guardians of tea’s artisan heritage and that passion is reflected in the exceptional quality of our teas. Each Mist Valley tea is carefully curated by a Master of Tea and is 100% natural and free of synthetic flavours.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- QuickView Modal -->
<div class="modal fade" id="popUp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="promo-holder">
          <div class="promo-side-img" style="background-image: url({{ 'images/bg-subscribe-box.jpg' | asset_url }});"></div>
          <div class="promo-side-content">
            <h2>20%<br/>OFF</h2>
            <p class="big-text">On All Regular Tea Bags</p>
            <p class="terms">* discount applied at checkout</p>
          </div>
        </div>
      </div>
      <a href="" class="btn-close" data-dismiss="modal"></a>
    </div>
  </div>
</div>

<!-- QuickView Modal -->
<div class="modal fade" id="quickview" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div id="slide-content" class="col-md-5">

          </div>
          <div class="col-md-7">
            <div class="product-detail-overview mt-5">
              <div class="prod-category">Regular Teas</div>
              <h1 class="prod-title">Classic Breakfast</h1>
              <div class="prod-price"><span>$</span>18.00</div>
              <p class="highlights">One of the most popular teas in British culture, the original English Breakfast tea was a blend of Ceylon (Sri Lanka) and Indian Assam black teas. </p>
              <p class="desc">
                Building on this long and respected heritage, Mist Valley’s tea masters have crafted a Classic English Breakfast tea that is the perfect morning cup to awaken the senses. The rich, bold and full-bodied Ceylon tea boasts a malty aftertaste and finishes with a hint of tannin that is balanced by the flavourful Assam with its sweet and nutty aroma.
              </p>
            </div>
            <div class="product-detail-purchase-options">
              <div class="label">Size</div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioOptions1" value="100gm">
                <label class="form-check-label" for="inlineRadioOptions1">100gm</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioOptions2" value="200gm">
                <label class="form-check-label" for="inlineRadioOptions2">200gm</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioOptions3" value="300gm">
                <label class="form-check-label" for="inlineRadioOptions3">300gm</label>
              </div>
            </div>
            <div class="product-detail-purchase-actions">
              <div id="field1">
                <button type="button" id="sub" class="sub">-</button>
                <input type="number" id="1" value="1" min="1" max="99" />
                <button type="button" id="add" class="add">+</button>
              </div>
              <a href="javascript:void(0)" class="btn btn-site btn-add-to-cart">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
      <a href="javascript:void(0)" class="btn-close" data-dismiss="modal"></a>
    </div>
  </div>
</div>

</main>
<aside class="js-offcanvas" data-offcanvas-options='{"modifiers":"right,push"}' id="off-canvas-right-push" role="complementary">
            <div class="c-offcanvas__inner o-box u-pos-relative">
              <div class="site-tools" id="cartWrapper" class="p-5">
                <h2 class="nav-title">Shopping Cart</h2>
                <ul>
                  <li >
                    <div class="st-list-cart-items">
                      {%- for item in cart.items -%}
                        <div class="st-cart-item">
                          <div class="st-product-thumb_img"><a href="#"><img src="{{ item.image | img_url: '1500x' }}" alt=""></a></div>
                          <div class="st-product-detail">
                            <a class="st-product-title">{{ item.product.title | escape }}</a>
                            <div class="st-product-qty">QTY: {{ item.quantity }}</div>
                            <div class="st-product-price">{{ item.final_line_price | money }}</div>
                          </div>
                          <div class="st-product_remove">
                            <a href="javascript:void(0)" class="remove-product"><i class="far fa-trash-alt"></i></a>
                          </div>
                        </div>
                      {%- endfor -%}
                    </div>
                  </li>
                  <li>
                    <div class="st-cart-summary">
                      <div class="st-cart-preview">
                        <div class="a-item">Total: </div>
                        <div class="a-item">$64.00 </div>
                      </div>
                      <div class="st-cart-actions">
                        <a class="btn btn-site" href="cart.php">View Cart</a>
                        <a class="btn btn-site" href="checkout.php">Check Out</a>
                      </div>
                    </div>
                  </li>
                </ul>

                <span class="material-icons js-offcanvas-close"> close </span>
              </div>
            </div>
          </aside>

          <aside id="main-nav-mobile" class="js-offcanvas" data-offcanvas-options='{"modifiers":"right,push"}' role="complementary">
          <div class="c-offcanvas__inner o-box u-pos-relative">
          <div id="GloboMobileMenu"></div>
                <span class="material-icons js-offcanvas-close"> close </span>
        </div>
        </aside>




<footer>
  <div class="container">
    <div class="row align-items-lg-center justify-content-between">
      <div class="col-md-7 d-flex align-items-center">
        <div class="flex-item">
          <img src="images/logo.png" alt="" class="footer-logo">
        </div>
        <div class="flex-item pl-4">
          <ul class="sitemap">
            <li><a href="/">Home</a></li>
            <li><a href="/pages/about-us">About</a></li>
            <li><a href="/collections/all">Products</a></li>
            <li><a href="/pages/contact">Contact Us</a></li>
            <li><a href="/blogs/news">Blog</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-xl-4 mt-4">
        <address>
          450, Thimbirigasyaya Road, Colombo 05, Sri Lanka.<br/>
          <strong>T</strong> +94112590146-8<br/>
          <strong>E</strong> <a href="mailto:wtea-sales@lk.wilmar-intl.com">wtea-sales@lk.wilmar-intl.com</a>
        </address>
      </div>
    </div>
    <div class="row mt-4 align-items-end">
      <div class="flex-item col">
        <p><img src="images/credit-method.png" alt="" style="max-width: 200px;"></p>
        <p class="mb-0">© 2020 The Origin Of Tea Mist Valley. All rights reserved.</p>
      </div>
      <div class="flex-item col d-flex">
        <ul class="d-flex">
          <li><a href="/pages/general-terms-conditions">Terms & Conditions</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


    <script src="https://npmcdn.com/js-offcanvas/dist/_js/js-offcanvas.pkgd.min.js"></script>
<script>
     // https://github.com/vmitsaras/js-offcanvas
$( function(){



$("#check").click(function(){
    var x = $("header").html();
    $("header").html(x);
        $('#off-canvas-top').offcanvas();
        $('#off-canvas-right-push').offcanvas();
});


  $( document ).bind( "beforecreate.offcanvas", function( e ){
    var dataOffcanvas = $( e.target ).data('offcanvas-component');
    console.log(dataOffcanvas);
    dataOffcanvas.onInit =  function() {
     console.log(this);
    };
  } );

  $( document ).bind( "create.offcanvas", function( e ){
    var dataOffcanvas = $( e.target ).data('offcanvas-component');
    console.log(dataOffcanvas);
    dataOffcanvas.onOpen =  function() {
      console.log('Callback onOpen');
    };
    dataOffcanvas.onClose =  function() {
      console.log('Callback onClose');
    };
  });

  $( document ).bind( "clicked.offcanvas-trigger clicked.offcanvas", function( e ){
    var dataBtnText = $( e.target ).text();
    console.log(e.type + '.' + e.namespace + ': ' + dataBtnText);
  } );

  $( document ).bind( "open.offcanvas", function( e ){
    var dataOffcanvasID = $( e.target ).attr('id');
    console.log(e.type + ': #' + dataOffcanvasID);
  } );

  $( document ).bind( "resizing.offcanvas", function( e ){
    var dataOffcanvasID = $( e.target ).attr('id');
    console.log(e.type + ': #' + dataOffcanvasID);
  } );

  $( document ).bind( "close.offcanvas", function( e ){
    var dataOffcanvasID = $( e.target ).attr('id');
    console.log(e.type + ': #' + dataOffcanvasID);
  } );

  $( '.js-open' ).bind( "create.offcanvas", function( e ){
    var dataOffcanvas = $(this).data('offcanvas-component');
    setTimeout(function(){
      //dataOffcanvas.open();
    }, 200);
  } );

  $( document ).bind( "beforecreate.offcanvas", function( e ){
    var $offcanvas = $( e.target ),
        api = $offcanvas.data('offcanvas-component');



    function onFocusIn() {
      console.log('onFocusIn');
      api.options.resize = false;
       console.log(api.options.resize);
       $(window).off('resize.offcanvas orientationchange.offcanvas');
    }

    function onFocusOut() {
      console.log('onFocusOut');
      api.options.resize = true;
       console.log(api.options.resize);
       $(window).on('resize.offcanvas orientationchange.offcanvas');
      api.resize();
    }

    $offcanvas.on('focusin', 'input,textarea', onFocusIn)
      .on('focusout', 'input,textarea', onFocusOut);
  });


    // Trigger Enhance
    $( document ).trigger( "enhance" );
});
        </script>

{% javascript %}
class LocalizationForm extends HTMLElement {
constructor() {
super();
this.elements = {
input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
button: this.querySelector('button'),
panel: this.querySelector('ul'),
};
this.elements.button.addEventListener('click', this.openSelector.bind(this));
this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
}

hidePanel() {
this.elements.button.setAttribute('aria-expanded', 'false');
this.elements.panel.setAttribute('hidden', true);
}

onContainerKeyUp(event) {
if (event.code.toUpperCase() !== 'ESCAPE') return;

this.hidePanel();
this.elements.button.focus();
}

onItemClick(event) {
event.preventDefault();
const form = this.querySelector('form');
this.elements.input.value = event.currentTarget.dataset.value;
if (form) form.submit();
}

openSelector() {
this.elements.button.focus();
this.elements.panel.toggleAttribute('hidden');
this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
}

closeSelector(event) {
const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
if (event.relatedTarget === null || shouldClose) {
this.hidePanel();
}
}
}

customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share store details, promotions, or brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 200,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.footer.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.footer.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.footer.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.footer.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.footer.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.footer.settings.color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
