<header class="navbar navbar-expand-lg">
  <div class="container">
    <div class="header-topbar">
      <div class="site-tools">
        <ul>
          <li><a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" title="Login/Sign Up"><i class="material-icons-outlined"> account_circle </i></a></li>
          <li><a href="javascript:void(0)" id="customToggleCart" data-offcanvas-trigger="off-canvas-right-push"><i class="material-icons-outlined"> shopping_cart </i><i class="cart-number">
                {{ cart.item_count }}
              </i></a></li>
          <li><a class="mobile-menu-toggle js-toggle-menu hamburger-menu" href="javascript:void(0)" data-offcanvas-trigger="main-nav-mobile"> <span class="menu-item"></span> <span class="menu-item"></span> <span class="menu-item"></span> </a></li>
        </ul>
        <aside class="js-offcanvas" data-offcanvas-options='{"modifiers":"right,push"}' id="off-canvas-right-push" role="complementary">
            <div class="c-offcanvas__inner o-box u-pos-relative">
              <div class="site-tools" id="cartWrapper" class="p-5">
                <h2 class="nav-title">Shopping Cart</h2>
                <ul>
                  <li >
                    <div class="st-list-cart-items">
                      {%- for item in cart.items -%}
                        <div class="st-cart-item">
                          <div class="st-product-thumb_img"><a href="#"><img src="{{ item.image | img_url: '1500x' }}" alt=""></a></div>
                          <div class="st-product-detail">
                            <a class="st-product-title">{{ item.product.title | escape }}</a>
                            <div class="st-product-qty">QTY: {{ item.quantity }}</div>
                            <div class="st-product-price">{{ item.final_line_price | money }}</div>
                          </div>
                          <div class="st-product_remove">
                            <a href="javascript:void(0)" class="remove-product"><i class="far fa-trash-alt"></i></a>
                          </div>
                        </div>
                      {%- endfor -%}
                    </div>
                  </li>
                  <li>
                    <div class="st-cart-summary">
                      <div class="st-cart-preview">
                        <div class="a-item">Total: </div>
                        <div class="a-item">$64.00 </div>
                      </div>
                      <div class="st-cart-actions">
                        <a class="btn btn-site" href="cart.php">View Cart</a>
                        <a class="btn btn-site" href="checkout.php">Check Out</a>
                      </div>
                    </div>
                  </li>
                </ul>

                <span class="material-icons js-offcanvas-close"> close </span>
              </div>
            </div>
          </aside>

          <aside id="main-nav-mobile" class="js-offcanvas" data-offcanvas-options='{"modifiers":"right,push"}' role="complementary">
          <div class="c-offcanvas__inner o-box u-pos-relative">
          <ul>
            <li class="nav-item"><a class="nav-link" href="products.php">Products</a></li>
            <li class="nav-item"><a class="nav-link" href="blog.php">Blog</a></li>
            <li class="nav-item"><a class="nav-link" href="about-us.php">About</a></li>
            <li class="nav-item"><a class="nav-link" href="contact.php">Contact</a></li>
          </ul>
                <span class="material-icons js-offcanvas-close"> close </span>
        </div>
        </aside>

        <!--
        <div class="site-tools" id="searchWrapper">
          <ul class="search-input">
            <form action="search.php">
              <div class="input-group">
                <input type="text" class="input-search" placeholder="Search Keywords...">
                <div class="input-group-append">
                  <button class="btn" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </ul>
        </div>
        -->
        <div class="site-tools" id="cartWrapper" style="background-color: black; display:none !important" class="p-5">
          <ul>

            <li >
              <div class="st-list-cart-items">

                {%- for item in cart.items -%}

                  <div class="st-cart-item">
                    <div class="st-product-thumb_img"><a href="#"><img src="{{ item.image | img_url: '1500x' }}" alt=""></a></div>
                    <div class="st-product-detail">
                      <a class="st-product-title">{{ item.product.title | escape }}</a>
                      <div class="st-product-qty">QTY: {{ item.quantity }}</div>
                      <div class="st-product-price">{{ item.final_line_price | money }}</div>
                    </div>
                    <div class="st-product_remove">
                      <a href="javascript:void(0)" class="remove-product"><i class="far fa-trash-alt"></i></a>
                    </div>
                  </div>
                {%- endfor -%}
                <!-- end item -->
              </div>
            </li>
            <li>
              <div class="st-cart-summary">
                <div class="st-cart-preview">
                  <div class="a-item">Total: </div>
                  <div class="a-item">{{ cart.total_price | money_with_currency }} </div>
                </div>
                <div class="st-cart-actions">
                  <a class="btn btn-site" href="cart.php">View Cart</a>
                  <a class="btn btn-site" href="checkout.php">Check Out</a>
                </div>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <div class="header-body">

      <nav class="navbar navbar-toggleable-md navbar-dark bg-faded p-0">
        <div class="collapse navbar-collapse" id="nav-left">
          <ul class="nav navbar-nav">
            <li class="nav-item "><a class="nav-link" href="/collections/all">Products</a></li>
            <li class="nav-item "><a class="nav-link" href="/pages/about-us">About</a></li>
          </ul>
        </div>
        <a class="navbar-brand m-0 py-0" href="/"><img src="https://www.24k.com.sg/workz/johnny/mist-valley-shop/v2/images/logo.png" alt=""></a>
        <div class="collapse navbar-collapse" id="nav-right">
          <ul class="nav navbar-nav">
            <li class="nav-item "><a class="nav-link" href="/blogs/news">Blog</a></li>
            <li class="nav-item "><a class="nav-link" href="/pages/contact">Contact</a></li>
          </ul>
        </div>
      </nav>

    </div>
  </div>
</header>

<script>
  function reload_header(){
    let path = window.location.href.split('?')[0]
    $.ajax({
              timeout: 10000,
              url: path+'?section_id=header',
              dataType: 'html',
              success: function (html, status, request) {
                  $("#shopify-section-header").replaceWith(html);
                $( document ).bind( "beforecreate.offcanvas", function( e ){
                  var dataOffcanvas = $( e.target ).data('offcanvas-component');
                  console.log(dataOffcanvas);
                  dataOffcanvas.onInit =  function() {
                    console.log(this);
                  };
                } );

                $( document ).bind( "create.offcanvas", function( e ){
                  var dataOffcanvas = $( e.target ).data('offcanvas-component');
                  console.log(dataOffcanvas);
                  dataOffcanvas.onOpen =  function() {
                    console.log('Callback onOpen');
                  };
                  dataOffcanvas.onClose =  function() {
                    console.log('Callback onClose');
                  };
                });

                $( document ).bind( "clicked.offcanvas-trigger clicked.offcanvas", function( e ){
                  var dataBtnText = $( e.target ).text();
                  console.log(e.type + '.' + e.namespace + ': ' + dataBtnText);
                } );

                $( document ).bind( "open.offcanvas", function( e ){
                  var dataOffcanvasID = $( e.target ).attr('id');
                  console.log(e.type + ': #' + dataOffcanvasID);
                } );

                $( document ).bind( "resizing.offcanvas", function( e ){
                  var dataOffcanvasID = $( e.target ).attr('id');
                  console.log(e.type + ': #' + dataOffcanvasID);
                } );

                $( document ).bind( "close.offcanvas", function( e ){
                  var dataOffcanvasID = $( e.target ).attr('id');
                  console.log(e.type + ': #' + dataOffcanvasID);
                } );

                $( '.js-open' ).bind( "create.offcanvas", function( e ){
                  var dataOffcanvas = $(this).data('offcanvas-component');
                  setTimeout(function(){
                    //dataOffcanvas.open();
                  }, 200);
                } );

                $( document ).bind( "beforecreate.offcanvas", function( e ){
                  var $offcanvas = $( e.target ),
                          api = $offcanvas.data('offcanvas-component');



                  function onFocusIn() {
                    console.log('onFocusIn');
                    api.options.resize = false;
                    console.log(api.options.resize);
                    $(window).off('resize.offcanvas orientationchange.offcanvas');
                  }

                  function onFocusOut() {
                    console.log('onFocusOut');
                    api.options.resize = true;
                    console.log(api.options.resize);
                    $(window).on('resize.offcanvas orientationchange.offcanvas');
                    api.resize();
                  }

                  $offcanvas.on('focusin', 'input,textarea', onFocusIn)
                          .on('focusout', 'input,textarea', onFocusOut);
                });


                // Trigger Enhance
                $( document ).trigger( "enhance" );


              },
              error: function (xhr, ajaxOptions, thrownError) {


              }
            }
    )
  }
</script>
{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.header.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.header.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.header.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.header.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.header.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.header.settings.color_scheme.label"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    }
  ]
}
{% endschema %}
