
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<section class="has-bg p-0 d-flex main-hero" style="background-image: url(https://www.24k.com.sg/workz/johnny/mist-valley-shop/v2/images/hero-products.jpg);">
    <div class="caption-holder">
        <h2>Our Product</h2>
    </div>
</section>


<section class="subpage products">
    <figure class="subsection">
        <div class="container px-lg-3">
            <div class="section-body">
                <div class="row">
                    <div class="col-md-6">
                        <div id="sync3" class="owl-carousel owl-theme">
                            {%- for media in product.media -%}
                            <div class="item">
                                <img src="{{ media.src | img_url : '1500x1500' }}" alt="">
                            </div>
                            {%- endfor -%}

                        </div>
                        <div id="sync4" class="owl-carousel owl-theme">
                            {%- for media in product.media -%}
                                <div class="item">
                                    <img src="{{ media.src | img_url : '1500x1500' }}" alt="">
                                </div>
                            {%- endfor -%}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-detail-overview mt-5">
                            <div class="prod-category">{{ product.type }}</div>
                            <h1 class="prod-title">{{ product.title }}</h1>
                            <div class="prod-price">{{ product.price |  money }}</div>
                            <p class="highlights">{{ product.description  }} </p>
                            <p class="desc">
                                {{ product.description }}
                            </p>
                        </div>
                        <div class="product-detail-purchase-options">
                            {{ product.variants | json }}
                            <br/>
                            {%- for option in product.options_with_values -%}
                                <div class="form-check form-check-inline">
                                    <div class="label">{{ option.name }}</div>
                                    {%- for value in option.values -%}
                                    <input type="radio" id="{{ section.id }}-{{ value }}-{{ forloop.index0 }}"
                                           name="inlineRadioOptions"
                                           value="{{ value | escape }}"
                                           form="product-form-{{ section.id }}"
                                           {% if option.selected_value == value %}checked{% endif %}
                                    >
                                    <label class="form-check-label" for="{{ section.id }}-{{ value }}-{{ forloop.index0 }}"> {{ value }}</label>
                                    {%- endfor -%}
                                </div>

                            {%- endfor -%}
                        </div>
                        <div class="product-detail-purchase-actions">
                            <div id="field1">
                                <button type="button" id="sub" class="sub">-</button>
                                <input  type="number" id="quantity" value="1" min="1" max="99" />
                                <button type="button" id="add" class="add">+</button>
                            </div>
                            <a href="javascript:void(0)"  id="addToCart" class="btn btn-site btn-add-to-cart">Add to Cart</a>
                            <a href="javascript:void(0)" id="buynow" class="btn btn-site sec">Buy it now</a>
                            <!--
                            <a href="" class="btn btn-add-to-whitelist"><i class="material-icons-outlined"> favorite_border </i></a>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </figure>
    <figure class="subsection bg-light">
        <div class="container">
            <div class="section-body">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="pills-desc-tab" data-toggle="pill" href="#pills-desc" role="tab" aria-controls="pills-desc" aria-selected="true">Description</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-info-tab" data-toggle="pill" href="#pills-info" role="tab" aria-controls="pills-info" aria-selected="false">Additional Information</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-selected="false">Reviews</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-desc" role="tabpanel" aria-labelledby="pills-desc-tab">
                        <p>This Herbal is made from authentic Iranian rose buds, plucked when they are young and then dried to retain its unique floral character. In the cup, it has a natural rosy taste and perfumed aroma, making it a lovely and highly enjoyable beverage. The essential oils in Rosebud Tea can help to improve blood circulation, digestion and is good for the heart.</p>
                    </div>
                    <div class="tab-pane fade" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
                        <p>This Herbal is made from authentic Iranian rose buds, plucked when they are young and then dried to retain its unique floral character. In the cup, it has a natural rosy taste and perfumed aroma, making it a lovely and highly enjoyable beverage. The essential oils in Rosebud Tea can help to improve blood circulation, digestion and is good for the heart.</p>
                        <p>This Herbal is made from authentic Iranian rose buds, plucked when they are young and then dried to retain its unique floral character. In the cup, it has a natural rosy taste and perfumed aroma, making it a lovely and highly enjoyable beverage. The essential oils in Rosebud Tea can help to improve blood circulation, digestion and is good for the heart.</p>
                    </div>
                    <div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
                        <div class="spr-header">
                            <h3 style="color: #333">Customer Reviews</h3>
                            <div class="spr-summary border-bottom pb-3 d-flex">
                <span class="spr-starrating spr-summary-starrating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  <i class="far fa-star"></i>
                </span>
                                <span class="spr-summary-caption ml-2"><span class="spr-summary-actions-togglereviews">Based on 2 reviews</span></span>
                                <span class="spr-summary-actions flex-grow-1 text-right">
                  <a href="#" class="spr-summary-actions-newreview">Write a review</a>
                </span>
                            </div>
                        </div>
                        <div class="spr-content">
                            <div class="spr-reviews" id="reviews_5294879965348">
                                <div class="spr-review" id="spr-review-98543303">
                                    <div class="spr-review-header">
                    <span class="spr-starratings spr-review-header-starratings">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                      <i class="far fa-star"></i>
                    </span>
                                        <h3 class="spr-review-header-title">akjnjknjkn</h3>
                                        <span class="spr-review-header-byline"><strong>mn nakj JANJN</strong> on <strong>Oct 11, 2020</strong></span>
                                    </div>
                                    <div class="spr-review-content">
                                        <p class="spr-review-content-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt justo vitae luctus faucibus. Duis felis leo, posuere id dolor id, efficitur volutpat purus. In pulvinar a sapien non semper. Aliquam vitae lacus felis. Donec dictum quam ut mattis lobortis. In varius tincidunt arcu vitae posuere. In pulvinar mattis leo, efficitur dictum lectus dapibus ac. Maecenas finibus mi tellus, id rutrum justo vestibulum at. Integer in gravida enim. In mi nisi, tincidunt eget rhoncus vulputate, porta sit amet leo. Sed eget tortor sed orci aliquet gravida ut nec odio. Duis pharetra vehicula tortor ac pulvinar.<br>
                                            <br>
                                            Aliquam erat volutpat. Fusce fermentum est in ipsum tristique viverra. Nullam bibendum enim sem, porttitor consequat nulla dignissim in. Pellentesque ut mauris placerat, varius ante at, tristique urna. In non venenatis mi. Nullam ut accumsan nibh. Vestibulum vitae sapien lectus. Etiam dapibus, magna eu cursus convallis, nisi nisi vehicula lacus, vel imperdiet magna lectus vitae tortor. Maecenas sodales sit amet magna vitae sollicitudin. Maecenas eget dolor vestibulum, luctus risus pharetra, tincidunt nulla. Vivamus vestibulum congue diam vitae scelerisque. Ut consectetur at elit sed volutpat. Praesent sit amet dui interdum, porta nulla a, malesuada nisl. Curabitur sagittis viverra dignissim.</p>
                                    </div>
                                </div>
                                <div class="spr-review" id="spr-review-98543298">
                                    <div class="spr-review-header">
                    <span class="spr-starratings spr-review-header-starratings">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </span>
                                        <h3 class="spr-review-header-title">akdnkj</h3>
                                        <span class="spr-review-header-byline"><strong>ada</strong> on <strong>Oct 11, 2020</strong></span>
                                    </div>
                                    <div class="spr-review-content">
                                        <p class="spr-review-content-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt justo vitae luctus faucibus. Duis felis leo, posuere id dolor id, efficitur volutpat purus. In pulvinar a sapien non semper. Aliquam vitae lacus felis. Donec dictum quam ut mattis lobortis. In varius tincidunt arcu vitae posuere. In pulvinar mattis leo, efficitur dictum lectus dapibus ac. Maecenas finibus mi tellus, id rutrum justo vestibulum at. Integer in gravida enim. In mi nisi, tincidunt eget rhoncus vulputate, porta sit amet leo. Sed eget tortor sed orci aliquet gravida ut nec odio. Duis pharetra vehicula tortor ac pulvinar.<br>
                                            <br>
                                            Vestibulum at varius nisl, vel luctus massa. Nulla lobortis nisi id dui efficitur efficitur. Donec eu consectetur elit, nec tristique lorem. Quisque lacinia venenatis diam, non dignissim lacus convallis eu. Aenean condimentum blandit nisl, id rutrum magna viverra eu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam tincidunt porttitor lorem, non sodales nisi aliquam quis. <br>
                                            <br>
                                            Fusce ac metus eu tortor tincidunt pharetra. Nunc consectetur vitae enim in placerat. Pellentesque id congue nisl, id hendrerit libero. Nullam odio magna, molestie hendrerit turpis in, fringilla rhoncus libero. Etiam tempus congue est, vitae porta lectus.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </figure>

</section>

<form id="checkoutform" method="post" action="/cart">
    <input type="hidden" name="checkout" value="">
</form>


<script>
    $('.add').click(function () {
        if ($(this).prev().val() < 99) {
            $(this).prev().val(+$(this).prev().val() + 1);
        }
    });
    $('.sub').click(function () {
        if ($(this).next().val() > 1) {
            if ($(this).next().val() > 1) $(this).next().val(+$(this).next().val() - 1);
        }
    });
    $(document).ready(function() {
        var sync1 = $("#sync1");
        var sync2 = $("#sync2");
        var sync3 = $("#sync3");
        var sync4 = $("#sync4");
        var slidesPerPage = 4; //globaly define number of elements per page
        var syncedSecondary = true;
        sync1.owlCarousel({
            items: 1,
            slideSpeed: 2000,
            nav: true,
            autoplay: false,
            dots: false,
            loop: true,
            responsiveRefreshRate: 200,
            navText: ['<svg width="100%" height="100%" viewBox="0 0 11 20"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M9.554,1.001l-8.607,8.607l8.607,8.606"/></svg>', '<svg width="100%" height="100%" viewBox="0 0 11 20" version="1.1"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M1.054,18.214l8.606,-8.606l-8.606,-8.607"/></svg>'],
        }).on('changed.owl.carousel', syncPosition);
        sync2
            .on('initialized.owl.carousel', function() {
                sync2.find(".owl-item").eq(0).addClass("current");
            })
            .owlCarousel({
                items: slidesPerPage,
                dots: false,
                nav: false,
                smartSpeed: 200,
                slideSpeed: 500,
                slideBy: slidesPerPage, //alternatively you can slide by 1, this way the active slide will stick to the first item in the second carousel
                responsiveRefreshRate: 100
            }).on('changed.owl.carousel', syncPosition2);
        function syncPosition(el) {
            var count = el.item.count - 1;
            var current = Math.round(el.item.index - (el.item.count / 2) - .5);
            if (current < 0) {
                current = count;
            }
            if (current > count) {
                current = 0;
            }
            sync2.find(".owl-item")
                .removeClass("current")
                .eq(current)
                .addClass("current");
            var onscreen = sync2.find('.owl-item.active').length - 1;
            var start = sync2.find('.owl-item.active').first().index();
            var end = sync2.find('.owl-item.active').last().index();
            if (current > end) {
                sync2.data('owl.carousel').to(current, 100, true);
            }
            if (current < start) {
                sync2.data('owl.carousel').to(current - onscreen, 100, true);
            }
        }
        function syncPosition2(el) {
            if (syncedSecondary) {
                var number = el.item.index;
                sync1.data('owl.carousel').to(number, 100, true);
            }
        }
        sync2.on("click", ".owl-item", function(e) {
            e.preventDefault();
            var number = $(this).index();
            sync1.data('owl.carousel').to(number, 300, true);
        });
        sync3.owlCarousel({
            items: 1,
            slideSpeed: 2000,
            nav: true,
            autoplay: false,
            dots: false,
            loop: true,
            responsiveRefreshRate: 200,
            navText: ['<svg width="100%" height="100%" viewBox="0 0 11 20"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M9.554,1.001l-8.607,8.607l8.607,8.606"/></svg>', '<svg width="100%" height="100%" viewBox="0 0 11 20" version="1.1"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M1.054,18.214l8.606,-8.606l-8.606,-8.607"/></svg>'],
        }).on('changed.owl.carousel', syncPosition);
        sync4
            .on('initialized.owl.carousel', function() {
                sync4.find(".owl-item").eq(0).addClass("current");
            })
            .owlCarousel({
                items: slidesPerPage,
                dots: false,
                nav: false,
                smartSpeed: 200,
                slideSpeed: 500,
                slideBy: slidesPerPage, //alternatively you can slide by 1, this way the active slide will stick to the first item in the second carousel
                responsiveRefreshRate: 100
            }).on('changed.owl.carousel', syncPosition2);
        function syncPosition(el) {
//if you set loop to false, you have to restore this next line
//var current = el.item.index;
//if you disable loop you have to comment this block
            var count = el.item.count - 1;
            var current = Math.round(el.item.index - (el.item.count / 2) - .5);
            if (current < 0) {
                current = count;
            }
            if (current > count) {
                current = 0;
            }
//end block
            sync4
                .find(".owl-item")
                .removeClass("current")
                .eq(current)
                .addClass("current");
            var onscreen = sync4.find('.owl-item.active').length - 1;
            var start = sync4.find('.owl-item.active').first().index();
            var end = sync4.find('.owl-item.active').last().index();
            if (current > end) {
                sync4.data('owl.carousel').to(current, 100, true);
            }
            if (current < start) {
                sync4.data('owl.carousel').to(current - onscreen, 100, true);
            }
        }
        function syncPosition2(el) {
            if (syncedSecondary) {
                var number = el.item.index;
                sync3.data('owl.carousel').to(number, 100, true);
            }
        }
        sync4.on("click", ".owl-item", function(e) {
            e.preventDefault();
            var number = $(this).index();
            sync3.data('owl.carousel').to(number, 300, true);
        });
    });

    var product = {{ product | json }}
    $("#addToCart").click(function (){
        console.log("---")
        var quantity = $("#quantity").val();
        var req = {
            "quantity": quantity,
            "form_type":"product",
            "utf8":"✓",
            "id":"40925247996094",
        };
        $.ajax({
            headers: {
                Accept : "application/javascript",
            },
            type:"POST",
            url:"/cart/add",
            contentType : "application/json",
            data: JSON.stringify(req),
            datatype: "json",
            success:function(data){
                reload_header();
                alert("success!");
            }
        });

    })



    $("#buynow").click(function(){
        var quantity = $("#quantity").val();
        var req = {
            "quantity": quantity,
            "form_type":"product",
            "utf8":"✓",
            "id":"40925247996094",
        };
        $.ajax({
            headers: {
                Accept : "application/javascript",
            },
            type:"POST",
            url:"/cart/add",
            contentType : "application/json",
            data: JSON.stringify(req),
            datatype: "json",
            success:function(data){
                $("#checkoutform").submit();
            }
        });


    });



</script>

{% schema %}
{
"name": "t:sections.main-product.name",
"tag": "section",
"class": "product-section spaced-section",
"blocks": [
{
"type": "@app"
},
{
"type": "text",
"name": "t:sections.main-product.blocks.text.name",
"settings": [
{
"type": "text",
"id": "text",
"default": "Text block",
"label": "t:sections.main-product.blocks.text.settings.text.label"
},
{
"type": "select",
"id": "text_style",
"options": [
{
"value": "body",
"label": "t:sections.main-product.blocks.text.settings.text_style.options__1.label"
},
{
"value": "subtitle",
"label": "t:sections.main-product.blocks.text.settings.text_style.options__2.label"
},
{
"value": "uppercase",
"label": "t:sections.main-product.blocks.text.settings.text_style.options__3.label"
}
],
"default": "body",
"label": "t:sections.main-product.blocks.text.settings.text_style.label"
}
]
},
{
"type": "title",
"name": "t:sections.main-product.blocks.title.name",
"limit": 1
},
{
"type": "price",
"name": "t:sections.main-product.blocks.price.name",
"limit": 1
},
{
"type": "quantity_selector",
"name": "t:sections.main-product.blocks.quantity_selector.name",
"limit": 1
},
{
"type": "variant_picker",
"name": "t:sections.main-product.blocks.variant_picker.name",
"limit": 1,
"settings": [
{
"type": "select",
"id": "picker_type",
"options": [
{
"value": "dropdown",
"label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
},
{
"value": "button",
"label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
}
],
"default": "button",
"label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
}
]
},
{
"type": "buy_buttons",
"name": "t:sections.main-product.blocks.buy_buttons.name",
"limit": 1,
"settings": [
{
"type": "checkbox",
"id": "show_dynamic_checkout",
"default": true,
"label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
"info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
}
]
},
{
"type": "description",
"name": "t:sections.main-product.blocks.description.name",
"limit": 1
},
{
"type": "share",
"name": "t:sections.main-product.blocks.share.name",
"limit": 1,
"settings": [
{
"type": "text",
"id": "share_label",
"label": "t:sections.main-product.blocks.share.settings.text.label",
"default": "Share"
},
{
"type": "paragraph",
"content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
},
{
"type": "paragraph",
"content": "t:sections.main-product.blocks.share.settings.title_info.content"
}
]
},
{
"type": "custom_liquid",
"name": "t:sections.main-product.blocks.custom_liquid.name",
"settings": [
{
"type": "liquid",
"id": "custom_liquid",
"label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
"info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info"
}
]
},
{
"type": "collapsible_tab",
"name": "t:sections.main-product.blocks.collapsible_tab.name",
"settings": [
{
"type": "text",
"id": "heading",
"default": "Collapsible tab",
"info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
},
{
"type": "richtext",
"id": "content",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
},
{
"type": "page",
"id": "page",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
},
{
"type": "select",
"id": "icon",
"options": [
{
"value": "none",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
},
{
"value": "box",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
},
{
"value": "chat_bubble",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
},
{
"value": "check_mark",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
},
{
"value": "dryer",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
},
{
"value": "eye",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
},
{
"value": "heart",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
},
{
"value": "iron",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
},
{
"value": "leaf",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
},
{
"value": "leather",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
},
{
"value": "lock",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
},
{
"value": "map_pin",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
},
{
"value": "pants",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
},
{
"value": "plane",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
},
{
"value": "price_tag",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
},
{
"value": "question_mark",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
},
{
"value": "return",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
},
{
"value": "ruler",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
},
{
"value": "shirt",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
},
{
"value": "shoe",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
},
{
"value": "silhouette",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
},
{
"value": "star",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
},
{
"value": "truck",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
},
{
"value": "washing",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
}
],
"default": "check_mark",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
}
]
},
{
"type": "popup",
"name": "t:sections.main-product.blocks.popup.name",
"settings": [
{
"type": "text",
"id": "text",
"default": "Pop-up link text",
"label": "t:sections.main-product.blocks.popup.settings.link_label.label"
},
{
"id": "page",
"type": "page",
"label": "t:sections.main-product.blocks.popup.settings.page.label"
}
]
},
{
"type": "rating",
"name": "t:sections.main-product.blocks.rating.name",
"limit": 1,
"settings": [
{
"type": "paragraph",
"content": "t:sections.main-product.blocks.rating.settings.paragraph.content"
}
]
}
],
"settings": [
{
"type": "checkbox",
"id": "enable_sticky_info",
"default": true,
"label": "t:sections.main-product.settings.enable_sticky_info.label"
},
{
"type": "header",
"content": "t:sections.main-product.settings.header.content",
"info": "t:sections.main-product.settings.header.info"
},
{
"type": "checkbox",
"id": "hide_variants",
"default": false,
"label": "t:sections.main-product.settings.hide_variants.label"
},
{
"type": "checkbox",
"id": "enable_video_looping",
"default": false,
"label": "t:sections.main-product.settings.enable_video_looping.label"
}
]
}
{% endschema %}
