<section class="has-bg p-0 d-flex main-hero"
         style="background-image: url(https://www.24k.com.sg/workz/johnny/mist-valley-shop/v2/images/hero-cart.jpg);">
    <div class="caption-holder">
        <h2>{{ 'sections.cart.title' | t }}</h2>
    </div>
</section>
<section class="subpage pb-0">
    <figure class="subsection">
        <div class="container">
            <div class="section-body">
                <div id="cart-table" class="cart-table">
                    <div class="cart-table-header">
                        <div></div>
                        <div>Product Name</div>
                        <div>Price</div>
                        <div>Quantity</div>
                        <div>Total</div>
                    </div>
                    <div class="cart-table-body">
                        {%- for item in cart.items -%}
                            <div idx="{{ item.index | plus: 1 }}" class="cart-item"
                                 id="CartItem-{{ item.index | plus: 1 }}">
                                <div><a class="remove-item" href="javascript:void(0)"><span
                                                class="material-icons-outlined"> close </span></a></div>
                                <div>
                                    <div class="prod-img"><img src="{{ item.image | img_url: '300x' }}" alt=""></div>
                                    <div class="prod-desc">
                                        <div class="prod-category">{{ item.product.type | escape }}</div>
                                        <div class="prod-title">{{ item.product.title | escape }}</div>
                                        {%- for option in item.options_with_values -%}
                                            <div class="prod-size">{{ option.name }}</div>
                                            <div class="prod-variation">{{ option.value }}</div>
                                        {%- endfor -%}
                                    </div>
                                </div>
                                <div class="item-line{{ item.index | plus: 1 }}_price">    {{ item.price | money }}</div>
                                <div>
                                    <div id="field1">
                                        <button type="button" id="sub" class="sub">-</button>
                                        <input type="number" class="item_count  item-line{{ item.index | plus: 1 }}_amount " value="{{ item.quantity }}" min="1"
                                               max="99"/>
                                        <button type="button" id="add" class="add">+</button>
                                    </div>
                                </div>
                                <div class="item-final-line{{ item.index | plus: 1 }}_price">    {{ item.final_line_price | money }} </div>
                            </div>
                        {%- endfor -%}
                        <!-- cart item -->
                    </div>
                </div>
                <div class="cart-summary-table mt-5">
                    <div class="row">
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6">
                            <div class="cart-total flex-column">
                                <div class="d-flex flex-item">
                                    <div class="column-left">Totals</div>
                                    <div class="column-right cart-total-price">{{ cart.total_price | money_with_currency }}</div>
                                </div>
                                <div class="d-flex flex-item">
                                    <div class="column-left">Shipping</div>
                                    <div class="column-right">0</div>
                                </div>
                            </div>
                            <div class="cart-note">
                                <p>Taxes and shipping not included</p>
                            </div>
                            <div class="cart-actions">
                                <a href="javascript:void(0)" class="btn btn-site btn-update">update</a>
                                <a href="{{ routes.all_products_collection_url }}"
                                   class="btn btn-site">{{ 'general.continue_shopping' | t }}</a>

                                <a href="javascript:void(0)" id="checkout" class="btn btn-site sec">checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </figure>

    <figure class="subsection has-parallax has-bg mb-0"
            style="background-image: url(images/bg-footer-parallax-1.jpg);"></figure>
</section>

<script>


    $(document).on("change", ".item_count", function () {
        let line = $(this).parents(".cart-item:first").attr("idx")
        let id = $(this).parents(".cart-item:first").attr("id")

        const val = $(this).val();
        update_item(line, val, id)
    })


    //




    $('.add').click(function () {
        if ($(this).prev().val() < 99) {
            $(this).prev().val(+$(this).prev().val() + 1);
            $(this).prev().trigger("change")
        }
    });
    $('.sub').click(function () {
        if ($(this).next().val() > 1) {
            if ($(this).next().val() > 1) $(this).next().val(+$(this).next().val() - 1);
            $(this).next().trigger("change")


        }
    });
</script>


{% schema %}
{
"name": "t:sections.main-cart-items.name",
"settings": [
{
"type": "checkbox",
"id": "show_vendor",
"default": false,
"label": "t:sections.main-cart-items.settings.show_vendor.label"
}
]
}
{% endschema %}
